<div class="row align-items-center p-3" id="machine-title">
    <a href="/products" style="color: white; text-decoration: none;"><h1 class="display-6 text-uppercase fw-semibold m-0"><i class="bi bi-clipboard2-plus"></i> Productos</h1></a>
</div>
<div class="row align-items-center p-4">
    <p class="fs-5 p-2 m-0" id="machine-add-title">Agregar producto.</p>
</div>
<div class="row px-3">
    <form action="/products/add" method="post" class="needs-validation" id="form-add-product" novalidate>
        <div class="row mb-4 gy-4 justify-content-md-between">
            <div class="col-md-4">
                <label for="nombreProducto" class="form-label">Nombre:</label>
                <div class="input-group has-validation">
                    <span class="input-group-text border-dark border-2 border-end-0" id="basic-addon1"><i class="bi bi-card-text"></i></span>
                    <input type="text" name="nombre" id="nombre" class="form-control border-dark border-2" aria-describedby="basic-addon1" autofocus>
                    <div class="invalid-feedback">
                        <span id="invalid-feedback-nombre"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label for="unidadMedida" class="form-label">Unidad de medida:</label>
                <div class="input-group has-validation">
                    <span class="input-group-text border-dark border-2 border-end-0" id="basic-addon1"><i class="bi bi-rulers"></i></span>
                    <select name="unidadMedida" id="unidadMedida" class="form-select border-dark border-2">
                        <option value="Metro" selected>Metros (mt)</option>
                        <option value="Millar">Millar (k)</option>
                        <option value="Pieza">Pieza (pza)</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mb-4 gy-4 justify-content-md-between">
            <div class="col-md-4">
                <label for="precio" class="form-label">Precio:</label>
                <div class="input-group has-validation">
                    <span class="input-group-text border-dark border-2 border-end-0" id="basic-addon1"><i class="bi bi-coin"></i></span>
                    <input type="number" name="precio" id="precio" class="form-control border-dark border-2" aria-describedby="basic-addon1">
                    <div class="invalid-feedback">
                        <span id="invalid-feedback-precio"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label for="proceso" class="form-label">Proceso asociado:</label>
                <div class="input-group has-validation">
                    <span class="input-group-text border-dark border-2 border-end-0" id="basic-addon1"><i class="bi bi-arrow-down-up"></i></span>
                    <select name="proceso" id="proceso" class="form-select border-dark border-2">   
                        {{#each procesos}}
                            <option value={{procesoId}}>{{nombre}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
        <div class="row mb-4 gy-4 justify-content-md-between"> 
            <div class="col-md-4">
                <label for="descuento" class="form-label">Aplicar Descuento:</label><br>
                <div class="row row-cols-2 justify-content-md-start">
                    <div class="col-md-4 d-grid">
                        <input type="radio" name="descuento" id="descuentoOp1" class="btn-check" value="1" autocomplete="off">
                        <label for="descuentoOp1" class="btn btn-outline-secondary border-secondary border-2">Si</label>
                    </div>
                    <div class="col-md-4 d-grid">
                        <input type="radio" name="descuento" id="descuentoOp2" class="btn-check" value="0" autocomplete="off" checked>
                        <label for="descuentoOp2" class="btn btn-outline-secondary border-secondary border-2">No</label>
                    </div>
                </div>
                <label for="porcentaje" class="form-label">Descuento:</label>
                <div class="input-group has-validation">
                    <span class="input-group-text border-dark border-2 border-end-0" id="basic-addon1"><i class="bi bi-percent"></i></span>
                    <input type="number" name="porcentaje" id="porcentaje" class="form-control border-dark border-2" aria-describedby="basic-addon1" value="0" disabled="true">
                    <div class="invalid-feedback">
                        <span id="invalid-feedback-porcentaje"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 has-validation">
                <label for="descripcion" class="form-label">Descripcion:</label>
                <textarea id="descripcion" name="descripcion" class="form-control border-dark border-2"></textarea>
                <div class="invalid-feedback">
                        <span id="invalid-feedback-descripcion"></span>
                </div>
            </div>
        </div>
        <div class="row mb-4 gy-4 justify-content-md-between">
            <div class="col-md-4">
                <br>
                <button class="btn btn-success me-4" type="submit">Agregar producto</button>
                <button class="btn btn-danger" type="reset">Limpiar campos</button>
            </div>
        </div>
    </form>
</div>

<script>
    var discounted = document.getElementById('descuentoOp1');
    var no_discounted = document.getElementById('descuentoOp2');
    var discount_percentage = document.getElementById('porcentaje');

    function updateStatus() {
        if (discounted.checked) {
            discount_percentage.disabled = false;
        } else {
            discount_percentage.disabled = true;
            discount_percentage.value = '0';
        }
    }

    discounted.addEventListener('change', updateStatus)
    no_discounted.addEventListener('change', updateStatus)
</script>