<div class="row p-3" id="machine-title">
    <h1 class="display-6 text-uppercase fw-semibold m-0"><i class="bi bi-shield-lock"></i> Acceso denegado</h1>
</div>

<div class="row p-4 justify-content-center align-items-center"> {{!-- style="height: 70vh;" --}}
    <div class="col-md-6">
        <div class="card border-3 border-danger">
            <div class="row g-0">
                <div class="col-md-3 m-auto text-center display-1 text-danger">
                    <i class="bi bi-exclamation-triangle-fill"></i>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h3 class="text-center mb-4">
                            Permisos faltantes
                        </h3>
                        <p class="fs-6 text-start">
                            Usted no cuenta con los permisos necesarios para acceder al siguiente contenido. Si considera que se trata de un error, favor de comunicarse con el técnico responsable de administrar los roles y permisos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>