<div class="row p-4 m-4 justify-content-center align-items-center">
    <div class="col-md-12">
        <div class="card border-0">
            <div class="card-body">
                <h5 class="fs-1 text-center pb-2">¡Bienvenido <b>{{user.nombre}} {{user.apellido}}</b>!</h5>
            </div>
            <img class="card-img-bottom mx-auto d-block" src="/img/logo_pimsa_solo.png" alt="logo PIMSA" style="width: 50vh;">
        </div>
    </div>
</div>
