<!DOCTYPE html>
<html>
    <head>
        <title>Hola</title>

    </head>

    <body>
        <h1>hdcbjshdbcjsbc</h1>
        <h2>kdnckuakudhkak</h2>
        <h3>jskuahdkad,akd</h3>


        <p>Parrafo</p>

        <br>

        <a href="hola.com">Link</a>
        <img src="hola.png" alt="image description"

        <ul> 
            <li>hola1</li>
            <li>hola2</li>
            <li>hola3</li>
        </ul>

        <ol>
            <li>hola</li>
            <li>mundo</li>
        </ol>
        <div>

        </div>
        <span>este es un elemento</span>

        <form action="/submit" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>