
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasExample" data-bs-backdrop="false" aria-labelledby="offcanvasExampleLabel" >
    <div class="offcanvas-header">
        <img src="/img/PIMSAlogo.png" alt="logo pimsa" width="290" height="65">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" id="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-10">
            <li class="nav-item">
                <a class="nav-link text-light fs-5"  aria-current="page" href="/dashboard"><i class="fa fa-bank"></i> Panel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-light fs-5" aria-current="page" href="/tareas"><i class="fa fa-book"></i> Tareas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-light fs-5" aria-current="page" href="/monitor"><i class="fa fa-desktop"></i> Monitor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-light fs-5" aria-current="page" href="/quotations/add"><i class="fa fa-edit"></i> Cotizador</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-light fs-5" aria-current="page" href="/ordycot"><i class="fa fa-server"></i> Órdenes y Cotizaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-light fs-5" aria-current="page" href="/cobranza"><i class="fa fa-dollar"></i> Cobranza</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-light fs-5" aria-current="page" href="/products"><i class="fa fa-cart-plus"></i> Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-light fs-5" aria-current="page" href="/machines"><i class="fa fa-print"></i> Máquinas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-light fs-5" aria-current="page" href="/procesos"><i class="fa fa-cogs"></i> Procesos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light fs-5" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-user"></i>
                Clientes
                </a>
            <ul class="dropdown-menu bg-light"  aria-labelledby="offcanvasNavbarDropdown">
                <li><a class="dropdown-item text-dark fs-6" href="/clients">Clientes</a></li>
                <li><a class="dropdown-item text-dark fs-6" href="/grupos">Grupos</a></li>
            </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-light fs-5" aria-current="page" href="/employees"><i class="fa fa-users"></i> Empleados</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light fs-5" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-street-view"></i>
                Usuarios
                </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                <li><a class="dropdown-item text-dark fs-6" href="/users">Usuarios</a></li>
                <li><a class="dropdown-item text-dark fs-6" href="/usuarios/rol">Rol</a></li>
                <li><a class="dropdown-item text-dark fs-6" href="/usuarios">Área</a></li>
            </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-light fs-5" aria-current="page" href="/logout"><i class="fa fa-power-off"></i> Cerrar sesión</a>
            </li>
        </ul>
        
    </div>
</div>



<footer class="footer" style="background-color:ghostwhite; position: absolute; bottom: 0; width: 100%;">
    <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
        <div class="datewidget">
            <script>
                const dateWidget = document.querySelector('.datewidget');
                const fechaActual = new Date();
                const diasSemana = ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'];
                const meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
                const diaSemana = diasSemana[fechaActual.getDay()];
                const dia = fechaActual.getDate();
                const mes = meses[fechaActual.getMonth()];
                const año = fechaActual.getFullYear();
                const fechaCompleta = `${diaSemana} ${dia} de ${mes} del ${año}`;
                dateWidget.textContent = fechaCompleta;
            </script>
        </div>
        <img style="display: block; margin: 0 auto;" class="centered-image" src="/img/PIMSAlogo.png" alt="logo pimsa" width="120" height="30">
        <h9 style="margin: 0;">Proyecto desarrollado por DKM</h9>
    </div>
</footer>