<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            Inicio de Sesion
        </div>
        <div class="card-body">
            <div class="mb-3">
                <img src="/img/PIMSAlogo.png" class="img-fluid">
            </div>
            <form action="/login" method="POST">
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text border-dark border-2 border-end-0" id="basic-addon1"><i class="bi bi-at"></i></span>
                        <input type="text" class="form-control border-dark border-2" name="correo" placeholder="Correo" autofocus {{#if correo}} value={{correo}} {{/if}}>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text border-dark border-2 border-end-0" id="basic-addon1"><i class="bi bi-key"></i></span>
                        <input type="password" class="form-control border-dark border-2" name="password" placeholder="Contraseña" {{#if password}} value={{password}} {{/if}}>
                    </div>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="submit">
                        Iniciar Sesion 
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>