<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .email-title{
            width: 100%;
        }

        .title {
            margin-bottom: 0;
        }

        .img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1rem;
            width: 50vmin;
        }

        hr{
            border: 1px solid #000;
        }

        .email-message{
            text-align: start;
        }

        .spanData {
            color: #ED0A3F;
        }

        .email-footer{
            width: 100%;
            text-align: center;
        }

        .facebook{
            padding-right: 0.5rem;
            text-decoration: none;
        }

        .instagram{
            padding-left: 0.5rem;
            text-decoration: none;
        }

        .logoFacebook, .logoInstagram{
            width: 24px;
            height: 24px;
        }

        .website{
            margin: 10px 0;
        }

    </style>
</head>
<body>
    <div class="body">
        <div class="email-container">
            <div class="email-header">
                <div class="email-title">
                    <h3 class="title">Cotización</h3>
                </div>
                <hr>
                <img src="cid:logoPimsa" alt="logo PIMSA" class="img">
            </div>
            <div class="email-body">
                <p>Hola <b>{{solicitante}}</b>.</p>
                <p class="email-message">
                    Gracias por confiar en PIMSA Publicidad para promocionar tu negocio, a continuación, 
                    incluimos un documento con la información completa de su cotización. Cualquier duda
                    o comentario favor de comunicarse con nosotros.
                </p>
                <h4>Contacto de quien lo atendió</h4>
                <p>
                    {{#with empleado}}
                        {{nombreComp}}
                    {{/with}}
                </p>
                <p>
                    {{#with empleado}}
                        <span class="spanData">[Correo]</span> {{correoElec}}
                    {{/with}}
                </p>
                <p>
                    {{#with empleado}}
                        <span class="spanData">[Teléfono]</span> {{numeroCelu}}
                    {{/with}}
                </p>
                <hr>
            </div>
            <div class="email-footer">
                <div class="email-social">
                    <a href="https://www.facebook.com/PimsaPublicidad/" class="facebook">
                        <img src="cid:logoFacebook" alt="logo Facebook" class="logoFacebook">
                    </a>
                    <a href="https://www.instagram.com/pimsapublicidad/" class="instagram">
                        <img src="cid:logoInstagram" alt="logo Instagram" class="logoInstagram">
                    </a>
                </div>
                <p class="website"><a href="https://www.pimsapublicidad.com/">www.pimsapublicidad.com</a></p>
                <p class="phoneNumber">+52 312 595 3076</p>
            </div>
        </div>
    </div>
</body>
</html>