<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIMSA Publicidad</title>

    {{!-- Google Font: Open Sans --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    
    {{!-- BOOTSTRAP 5 --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
    {{!-- Bootstrap icons --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    {{!-- JQuery datatables --}}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

    <!-- Font awesome -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    {{!-- Styles --}}
    <link rel="stylesheet" href="/css/style.css">

    {{!-- Bootstrap 5 script --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    {{!-- JQuery --}}
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>

    {{!-- JQuery datatables script --}}
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    {{!-- Handlebars front-end script --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js"></script>

</head>

<body>

    <main class="container-fluid">
        {{!--> navigations--}}

        {{> messages}}

        {{{body}}}
    </main>

    {{!-- Handlebars front-end helpers --}}
    <script src="/js/handlebars.js"></script>

    {{!-- Machines CRUD script --}}
    <script src="/js/machines.js"></script>
    
    {{!-- Clientes CRUD script --}}
    <script src="/js/clients.js"></script>

    {{!-- Quotations CRUD script --}}
    <script src="/js/quotations.js"></script>

    {{!-- Login CRUD script --}}
    <script src="/js/login.js"></script>
    
    {{!-- Products CRUD script --}}
    <script src="/js/products.js"></script>

    {{!-- Users CRUD script --}}
    <script src="/js/users.js"></script>

    {{!-- Employees CRUD script --}}
    <script src="/js/employees.js"></script> 

    {{!-- Roles CRUD script --}}
    <script src="/js/roles.js"></script>

</body>
</html>
